@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<TradusApp.Models.Chapters.CommentItemDto>
<div class="table-responsive">
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>Autor</th>
                <th>Contenido</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Autor</td>
                <td>@c.Contenido</td>
                <td>@c.CreatedAt.ToLocalTime()</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("Details", new { page }))
</div>
